#toTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
    background: tomato;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    font-weight:600;
    z-index: 9999;
    animation: skybtFloat 2s ease-in-out infinite;
}

#toTop span{
    font-size: 40px;
    width: 40px;
    height: 40px;
    color: #fff;;
}

@keyframes skybtFloat {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}